<article>
  <hr />
  <h1 class="post-title">{{{title}}}</h1>
  <h4 class="post-subtitle">By <a href="{{{authorUrl}}}">{{author}}</a>{{daysPub}}</h4>
  <div class="post-body">{{{body}}}</div>
  <button class="post-read-on btn btn-default">
    Read on <span class="glyphicon glyphicon-triangle-right"></span>
  </button>
  <h6 class="post-category">Category: {{category}}</h6>
</article>
